{% extends "base_generic.html" %}

{% block content %}
    <h1>Ajouter un client</h1>
    <br/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="POST">
      {% csrf_token %}
{% comment %}
        <div class="form-group">
        {{ form.client_last_name }}
        </div><br/>
 
        <div class="form-group">
        {{ form.client_first_name }}
        </div><br/>

        <div class="form-group">
        {{ form.client_birthdate }}
        </div><br/>
 
        <div class="form-group">
        {{ form.client_address }}
        </div><br/>

        <div class="form-group">
        {{ form.client_additional_address }}
        </div><br/>

        <div class="form-group">
        {{ form.client_zip_code }}
        </div><br/>
 
        <div class="form-group">
        {{ form.client_city }}
        </div><br/>
 
        <div class="form-group">
        {{ form.client_phone_number_1 }}
        </div><br/>

        <div class="form-group">
        {{ form.client_phone_number_2 }}
        </div><br/>

        <div class="form-group">
        {{ form.client_email_address }}
        </div><br/>

        <div class="form-group">
        {{ form.client_comment }}
        </div><br/>
{% endcomment %}
      {{ form.as_p }}
      <input type="submit" value="Enregistrer" class="btn btn-secondary">
    </form>
    
{% endblock %}
