{% extends "base_generic.html" %}

{% block content %}
  <h1>Ajouter une prestation</h1>
  <br/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
  <form action="" method="POST" onsubmit="updateField()">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Enregistrer" class="btn btn-secondary" tabindex="6">
  </form>

    <script>

    const data_massage_is_voucher = '{{json_massage_is_voucher}}';
    const data_massage_price = '{{json_massage_price}}';
    const data_massage_duration = '{{json_massage_duration}}';
    const rdata_massage_is_voucher = JSON.parse(data_massage_is_voucher.replace(/&quot;/g, '"'));
    const rdata_massage_price = JSON.parse(data_massage_price.replace(/&quot;/g, '"'));
    const rdata_massage_duration = JSON.parse(data_massage_duration.replace(/&quot;/g, '"'));

    function download(content, fileName, contentType) {
        var a = document.createElement("a");
        var file = new Blob([content], {type: contentType});
        a.href = URL.createObjectURL(file);
        a.download = fileName;
        a.click();
    }

    function getValueFromKey(data, theKey) {
        for (const [key, value] of Object.entries(data)) {
            const splitted = String(value).split(",");
            const loc_key = parseInt(splitted[0]);
            const loc_value = splitted[1];
            if (String(loc_key) === String(theKey)) {
                return loc_value;
            }
        }
        return false;
    }

    // fired from dropdown 'Massage'
    function updateMassageInfo() {
        updateIsVoucher();
        updatePrice();
        updateDuration();
    }

    function updateIsVoucher() {
        const massage_id = document.getElementById('id_service_massage_id').value;
//        console.log(massage_id)
//        download(data_massage_is_voucher, 'data_massage_is_voucher.json', 'text/plain')
//        download(rdata_massage_is_voucher, 'rdata_massage_is_voucher.json', 'text/plain')
//        console.log(getValueFromKey(rdata_massage_is_voucher, massage_id))
        if (getValueFromKey(rdata_massage_is_voucher, massage_id) === 'true') {
            document.getElementById('id_service_is_voucher').checked = false;
            document.getElementById('id_service_is_voucher').disabled = true;
//            document.getElementById('id_service_is_voucher').removeAttribute('required');
        } else {
            document.getElementById('id_service_is_voucher').disabled = false;
//            document.getElementById('id_service_is_voucher').setAttribute('required', '');
        }
//        console.log(document.getElementById('id_service_is_voucher').disabled)
    }

    function updatePrice() {
        var price = 0;
        const massage_id = document.getElementById('id_service_massage_id').value;
        price = getValueFromKey(rdata_massage_price, massage_id);
        console.log("price = " + price);
        document.getElementById('id_service_cashed_price').value = price;
        if (document.getElementById('id_service_is_voucher').checked) {
            document.getElementById('id_service_cashed_price').disabled = true;
        } else {
            document.getElementById('id_service_cashed_price').disabled = false;
            document.getElementById('id_service_cashed_price').value = price;
//            document.getElementById('id_service_cashed_price').focus();
//            document.getElementById('id_service_cashed_price').select();
        }
    }

    function updateDuration() {
        var duration = 0;
        const massage_id = document.getElementById('id_service_massage_id').value;
        duration = getValueFromKey(rdata_massage_duration, massage_id);
        console.log("duration = " + duration);
        document.getElementById("id_service_duration").value = duration;
    }
    
    document.getElementById("id_service_is_voucher").addEventListener('change', function() {
        var priceBackup = document.getElementById('id_service_cashed_price').value
        console.log("priceBackup = " + priceBackup)
        console.log("priceBackup2 = " + document.getElementById('id_service_cashed_price').value)
        if (this.checked) {
            document.getElementById('id_service_cashed_price').disabled = true;
        } else {
            document.getElementById('id_service_cashed_price').disabled = false;
        }
    });

    function updateField() {
        if (document.getElementById('id_service_is_voucher').checked) {
            document.getElementById('id_service_cashed_price').disabled = false;
            document.getElementById('id_service_cashed_price').value = 0;
        }
    }

    </script>


{% endblock %}
