{% extends "base_generic.html" %}

{% block content %}
  <h1>Supprimer la prestation</h1>
  <br/>
  Suppression de '<i>{{ service }}</i>' ?<br/>
  <small><u>Attention:</u> Une prestation supprimée ne pourra pas être récupérée</small>
  <br/>
  <br/>
   <form action="" method="POST">
     {% csrf_token %}
     <input type="submit" value="Supprimer" class="btn btn-danger">
     <input type=button value="Annuler" class="btn btn-primary" onClick="javascript:history.go(-1);">
   </form>
{% endblock %}
