{% extends "base_generic.html" %}

{% block content %}
<h1>Liste des prestation</h1>
<br/>
<table class="table table-striped table-hover">
  {% for service in services %}
    <tr>
      <td>
        {{ service }}
      </td>
      <td>
          <a href="{% url 'update-service' service.service_id %}">Modifier</a><br/>
      </td>
    </tr>
  {% endfor %}
</table>
<br/>
<hr><br/>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if services.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo Begin</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ services.previous_page_number }}">Previous</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo Begin</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
        </li>
    {% endif %}

    {% if services.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ services.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in services.paginator.page_range %}
        {% if services.number == i %}
            <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{ i }}
          </span>
        </li>
        {% elif i > services.number|add:'-5' and i < services.number|add:'5' %}
             <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if services.paginator.num_pages > services.number|add:'4' %}
       <li class="page-item"><a class="page-link" href="?page={{ services.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if services.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ services.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ services.paginator.num_pages }}">End &raquo</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">End &raquo</a>
        </li>
    {% endif %}
  </ul>
</nav>


{% endblock %}
