{% extends "base_generic.html" %}

{% block content %}
    <h1>Statistiques pour la période entre le {{ min_date }} et le {{ max_date }} :</h1>
    <br/>
    Nombre de prestations fournies : {{ nb_total }} (femmes : {{ nb_f }}, hommes : {{nb_m }})
    <br/>
    <br/>
    Durée totale : {{ total_h | floatformat:"-2u" }} heure{{ total_h|pluralize }}
    <br/>
    <br/>
    Montant total encaissé : CHF 
    <script>
        if ("{{ total_chf }}".endsWith(".0")) {
            document.write("{{ total_chf }}".replace(".0", "") + ".-");
        } else {
            document.write("{{ total_chf | floatformat:'-2u'}}");
        }
    </script
    <br/>
    <br/>
    Top 10 des clients et le montant total investi :<br/>
    {% for client in top_clients_10 %}
        <div style="text-indent: 50px;">
        {{ forloop.counter }}. {{ client.client_name }} : CHF
        <script>
            if ("{{ client.service_cashed_price }}".endsWith(".0")) {
                document.write("{{ client.service_cashed_price }}".replace(".0", "") + ".-");
            } else {
               document.write("{{ client.service_cashed_price | floatformat:'-2u'}}");
            }
        </script>
        </div>
    {% endfor %}
    <br/>
    <br/>
    Top {{ top_massages_10 | length }} des massages et le nombre d'heures de prestations :<br/>
    {% for massage in top_massages_10 %}
        <div style="text-indent: 50px;">
        {{ forloop.counter }}. {{ massage.massage_name }} : {{ massage.service_duration | floatformat:"-2u" }} heure{{ massage.service_duration|pluralize }}
        </div>
    {% endfor %}
    <br/>
    <br/>
    Top 3 des jours les plus rentables :<br/>
     {% for day in top_days_3 %}
        <div style="text-indent: 50px;">
        {{ forloop.counter }}. {{ day.weekday }} : {{ day.service_duration | floatformat:"-2u" }} heure{{ day.service_duration|pluralize }}
        </div>
    {% endfor %}
    <br/>
    <br/>
    Liste complète :<br/>
    {{ df | safe }}
{% endblock %}
