{% extends "base_generic.html" %}

{% block content %}
    <h1>Statistiques pour la période entre le {{ min_date }} et le {{ max_date }} :</h1>
    <br/>
    Nombre de prestations fournies : {{ nb_total }} (femmes : {{ nb_f }}, hommes : {{nb_m }})
    <br/>
    <br/>
    Durée totale : {{ total_h | floatformat:"-2u" }} heures
    <br/>
    <br/>
    Montant total encaissé : CHF {{ total_chf | floatformat:"-2u" }}
    <br/>
    <br/>
    Top 10 des clients et le montant total investi :<br/>
    {% for client in top_clients_10 %}
        <div style="text-indent: 50px;">
        {{ forloop.counter }}. {{ client.client_name }} : CHF {{ client.service_cashed_price | floatformat:"-2u" }}
        </div>
    {% endfor %}
    <br/>
    <br/>
    Top {{ top_massages_10 | length }} des massages et le nombre d'heures de prestations :<br/>
    {% for massage in top_massages_10 %}
        <div style="text-indent: 50px;">
        {{ forloop.counter }}. {{ massage.massage_name }} : {{ massage.service_duration | floatformat:"-2u" }} heures
        </div>
    {% endfor %}
    <br/>
    <br/>
    Top 3 des jours les plus rentables :<br/>
     {% for day in top_days_3 %}
        <div style="text-indent: 50px;">
        {{ forloop.counter }}. {{ day.weekday }} : {{ day.service_duration | floatformat:"-2u" }} heures
        </div>
    {% endfor %}
    <br/>
    <br/>
    Liste complète :<br/>
    {{ df | safe }}
{% endblock %}
