{% extends "base_generic.html" %}

{% block content %}
    <h1>Statistiques pour le période entre le {{ min_date }} et le {{ max_date }} :</h1>
    <br/>
    Nombre de prestations fournies : {{ nb_total }} (femmes : {{ nb_f }}, hommes : {{nb_m }})
    <br/>
    <br/>
    Durée totale : {{ total_h | floatformat:"-2u" }} heures
    <br/>
    <br/>
    Montant total encaissé : CHF {{ total_chf | floatformat:"-2u" }}
    <br/>
    <br/>
    Top 10 des clients et le nombre d'heures de prestations :<br/>
    {% for key, value in top_clients_10.items %}
        <div style="text-indent: 50px;">
        {{ forloop.counter }}. {{ key }} : {{ value }} heures<br/>
        </div>
    {% endfor %}
    <br/>
    Top {{ top_massages_10 | length }} des massages et le nombre d'heures de prestations :<br/>
    {% for key, value in top_massages_10.items %}
        <div style="text-indent: 50px;">
        {{ forloop.counter }}. {{ key }} : {{ value }} heures<br/>
        </div>
    {% endfor %}
    <br/>
    Liste complète :<br/>
    {{ df | safe }}
{% endblock %}
